﻿@model DMS.Model.change_password
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .error_show {
        color: red;
        margin-left: 10px;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-grid-header th.k-header > .k-link {
            /*//  width:100px;*/
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">


    <div class="content-wrapper">

        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Change Password</h3>
                        </div>
                        <form class="form-horizontal" id="form" method="post" enctype="multipart/form-data" style="height:450px">
                            <div class="box-body">
                                <div class="row">

                                    <div class="row">

                                        <div class="col-md-12">
                                            <label class="col-md-6 control-label"> Employee Id</label>
                                            @*@Html.TextBoxFor(m => m.Emp_Id, null, new { @Value = ViewBag.EmpId, @readonly = "readonly"})*@
                                            @Html.TextBoxFor(m => m.Emp_Id, new { @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-6 control-label"> Old Password</label>
                                            @Html.PasswordFor(m => m.OldPassword, new { @maxlength = "6", @class = "myCssClass" })
                                            @Html.ValidationMessageFor(m => m.OldPassword)
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-6 control-label"> New Password</label>
                                            @Html.PasswordFor(m => m.NewPassword)
                                            @Html.ValidationMessageFor(m => m.NewPassword)
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-6 control-label"> Conform Password</label>
                                            @Html.PasswordFor(m => m.Cpassword)
                                            @Html.ValidationMessageFor(m => m.Cpassword)

                                        </div>
                                    </div>

                                </div>
                            </div>

                            @*<div class="row">
                                    <div style="left:200px;position:relative" class="col-md-4">
                                    </div>
                                </div>*@
                            <div class="box-footer">
                                <table align="center" style="right:200px; position:relative">
                                    <tr>

                                        <td width="420px"></td>
                                        <td>
                                            <input type="submit" name="btnsubmit" value="Update" id="btnsubmit" class="btn btn-orange pull-right" />
                                        </td>
                                        <td width="5px"></td>
                                        <td>
                                        <td>
                                            <button type="button" class="btn btn-danger pull-right" onclick="Redirecttologin()">Cancel</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="420px"></td>
                                        <td style="color:green;">
                                            <span class="Error_show">@ViewBag.Message</span>
                                        </td>
                                    </tr>

                                </table>

                                <div style="height:10px">

                                </div>
                                <div id="example" style="top:10px;width:500px;position:relative;margin: auto;" class="k-content">
                                    <table id="grid" data-bind="source: gridRows"></table>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </section>
    </div>
</body>
</html>

<script>
    function Redirecttologin()
    {
        window.location.href = '../Dashboard/Dashboard';
    }
</script>