﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
@model  DMS.Model.DepartmentMaster_Model
<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-grid-header th.k-header > .k-link {
            width: 100px;
        }

        .k-grid-header {
            font-weight: bold;
        }

        .k-state-active {
            display: none;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-header {
            font-weight: bold;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange" style="height:650px">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Doc Group</h3>
                        </div>
                        @(Html.Kendo().Grid<DMS.Model.DocGroupMaster_Model>().Name("DocGroup")
                            .HtmlAttributes(new { style = "width:100%;line-height:2em;font-weight:normal" })
                            .Columns(columns =>
                            {
                                columns.Bound(m => m.DgroupId).Title("SL No").Width(80);
                                columns.Bound(m => m.DgroupName).Title("Doc Group").Width(20);
                                columns.Bound(m => m.Dgroup_shortname).Title("Short Name").Width(20);
                                columns.Bound(m => m.Dept_Name).Title("Department").Width(20);
                                columns.Bound(m => m.Unit).Title("Unit").Width(20);
                                columns.Command(cmd => { cmd.Edit(); }).Title("Edit").Width(50);
                                columns.Template(p => { }).ClientTemplate("<button type='button' onclick='return myDeleteJs()'><i class='fa fa-trash-o' aria-hidden='true'></i>Delete</button>").Width(50).Title("Delete");
                            })
                            .ToolBar(toolbar => toolbar.Create())
                            .Editable(ed => ed.Mode(GridEditMode.PopUp).TemplateName("DocGroupMasterDropdown"))
                                    .Pageable(pageable => pageable
                                                .Refresh(true)
                                                .PageSizes(true)
                                                .ButtonCount(5))
                                    .Filterable()     
                            .Sortable()
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Events(events => events.Error("error_handler"))
                            .Model(model => model.Id(p => p.DgroupId))
                            .Update(update => update.Action("DocGroupGrid_Update", "DocGroupMaster"))
                            .Create(Create => Create.Action("DocGroupGrid_Save", "DocGroupMaster"))
                            .Read(read => read.Action("DocGroupGrid_Read", "DocGroupMaster"))))

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#DocGroup").data("kendoGrid").dataSource.bind("requestEnd", onRequestEnd);
        var grid = $("#DocGroup").data("kendoGrid");
        //function for changing kendo popup title.
        grid.bind("edit", function (event) {
            debugger;
            event.container.parent().find('.k-window-title').text(event.model.isNew() ? "New" : "Edit");
        });
    })

    function onChangeunit() {
        debugger;
        var masteritemid = this.value();
        var master = "Unit"
        if (masteritemid == "" || masteritemid == null || masteritemid == "undefined" || masteritemid == 0) {
            return false;
        }
        else {
            $.getJSON("UnitDropDown/DocGroupMaster?masteritemid=" + masteritemid + "&master=" + master, function (data) {
                debugger;
                var dept = data;
                $("#Dept_Id").data("kendoDropDownList").dataSource.data(dept);
                //$("#Dept_Id").data("kendoDropDownList").dataSource.data(data[1]);
                if (dept.length == 2) {
                    $("#Dept_Id").data("kendoDropDownList").select(1)
                    $("#Dept_Id").data("kendoDropDownList").trigger("change");
                    //$("#Dept_Id").data("kendoDropDownList").refresh();
                }
                else {
                    $("#Dept_Id").data("kendoDropDownList").select(0)
                }

            });
        }
    }

    function onRequestEnd(e) {
        debugger;
        //Check request type
        if (e.type == "create") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                $.dialog({
                    title: 'DMS',
                    content: 'Doc Group has been created successfully!',
                    type: 'green',
                });
                setTimeout(function () {
                    window.location.reload(1);
                }, 2500);
            }
        }
        if (e.type == "update") {
            //check for errors in the response
            if (e.response == null || e.response.Errors == null) {
                $.dialog({
                    title: 'DMS',
                    content: 'Doc Group has been Edited successfully!',
                    type: 'green',
                });
                setTimeout(function () {
                    window.location.reload(1);
                }, 2500);
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            $.alert({
                title: 'DMS',
                content: message,
                type: 'blue',
            });
        }
    }

    function myDeleteJs() {
        debugger;
        var grid = $("#DocGroup").data("kendoGrid");
        var model = grid.dataItem($(event.target).closest("tr"));
        var DGroupID = (model.DgroupId);

        $.confirm({
            icon: 'fa fa-warning',
            title: 'DMS',
            autoClose: 'cancel|10000',
            theme: 'dark',
            animationSpeed: 700,
            content: 'Are you sure do you want to delete this record!',
            type: 'orange',
            buttons: {
                confirm: function () {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        url: '@Url.Action("DeletingDocGroup", "DocGroupMaster")',
                        data: "{ DGroupID:'" + DGroupID + "'}",
                        success: function (data) {
                            debugger;
                            if (data == 'Success') {
                                $.alert({
                                    icon: 'fa fa-success',
                                    title: 'DMS',
                                    theme: 'dark',
                                    content: 'Record deleted.!',
                                    type: 'green',
                                    animationSpeed: 700,
                                });
                            }
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 2500);
                        },
                    });

                },
                cancel: function () {
                    $.alert({
                        icon: 'fa fa-success',
                        title: 'DMS',
                        theme: 'dark',
                        content: 'Delete Canceled.!',
                        type: 'blue',
                        animationSpeed: 700,
                    });
                },
            }
        });
    }
</script>
