﻿@model DMS.Model.Dept_Union_Cat_SubCat_Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">

        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Single</h3>
                        </div>
                        <form method="post" class="form-horizontal" id="form" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="form-group">
                                            <label class="col-md-6 control-label">Doc Name</label>
                                            <div class="col-md-6">
                                                <select id="subCatgery" name="subCatgery" onchange="fetchDocName()" class="form-control"></select>
                                                <span class="errormessage" id="erridmsg"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-6 control-label">Doc Group</label>
                                            <div class="col-md-6">
                                                <select id="Catgery" name="Catgery" onchange="fetchDocGroup()" class="form-control"></select>
                                                <span class="errormessage" id="erridmsg"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-6 control-label">Unit</label>
                                            <div class="col-md-6">
                                                <select id="Unit" name="Unit" onchange="fetchUnit()" class="form-control"></select>
                                                <span class="errormessage" id="erridmsg"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-6 control-label">Department</label>
                                            <div class="col-md-6">
                                                <select id="DeptID" name="DeptID" onchange="fetchDept()" class=" form-control"></select>
                                                <span class="errormessage" id="erridmsg"></span>
                                            </div>
                                        </div>
                                        <div>
                                            @Html.HiddenFor(m => m.ActionMode)
                                            @Html.HiddenFor(m => m.FileId)
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-6 control-label">Browse File</label>
                                            <div class="col-md-6">
                                                <input type="file" class="form-control input-lg browse btn btn-primary input-lg " name="File" id="File">
                                                <label class="col-md-6 control-label" id="FileName"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <table align="center">
                                    <tr>
                                        <td width="160px"></td>
                                        <td>
                                            <button type="button" class="btn btn-orange" id="btn_back" onclick="return BacktoIndexScreen()"><i class="fa fa-home"></i> Back</button>
                                        </td>
                                        <td>
                                            <input type="button" name="btncancel" value="Cancel" id="btn_Cancel" onclick="return Cancel_Single()" class="btn btn-danger" />
                                        </td>
                                        <td>
                                            <input type="button" name="btnsubmit" value="submit" id="btn_uoload" class="btn btn-orange " onclick="return Save()" />
                                        </td>
                                    </tr>
                                </table>
                                <div style="color:green">
                                    <table align="center">
                                        <tr>
                                            <td>
                                                <span class="Success_show">@ViewBag.message</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </section>

    </div>

</body>
</html>

<script>
    $(document).on('click', '.browse', function () {
        debugger;
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });

    $(document).on('change', '.file', function () {
        debugger;
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
</script>

<script>
    function Save() {
        debugger;
        var department = $("#DeptID").val();
        var unit = $("#Unit").val();
        var docgroup = $("#Catgery").val();
        var docname = $("#subCatgery").val();
        var ActionMode = $("#ActionMode").val();
        var fileid = $("#FileId").val();
        var useracceptance = "notallow";
        if (docname == 0) {
            $.alert({
                title: 'DMS',
                content: 'Select Doc Name.!',
                type: 'blue',
            });
            return false;
        }
        if (docgroup == 0) {
            $.alert({
                title: 'DMS',
                content: 'Select Doc Group.!',
                type: 'blue',
            });
            return false;
        }
        if (unit == 0) {
            $.alert({
                title: 'DMS',
                content: 'Select Unit.!',
                type: 'blue',
            });
            return false;
        }
        if (department == 0) {
            $.alert({
                title: 'DMS',
                content: 'Select Department.!',
                type: 'blue',
            });
            return false;
        }

        if (ActionMode == "I") {
            var filesize = $('#File').val();
            if (filesize == "" || filesize == null) {
                $.alert({
                    title: 'DMS',
                    content: 'Select File.!',
                    type: 'blue',
                });
                return false;
            }
            else {
                // $("#form").submit();
                $.ajax({
                    url: '@Url.Action("Save_Single_File", "DocArchival")',
                    type: "POST",
                    data: { 'department': department, 'unit': unit, 'docgroup': docgroup, 'docname': docname, 'action': ActionMode, 'fileid': fileid, 'useracceptance': useracceptance },
                    success: function (data) {
                        debugger;
                        if (data == 'inserted') {
                            $.alert({
                                title: 'DMS',
                                content: 'File uploaded successfully.!',
                                type: 'green',
                            });
                            setTimeout(function () {
                                debugger;
                                window.location.href = '../DocArchival/DocArchival_Single';
                            }, 2500);
                        }
                        else if (data == 'exist') {
                            $.confirm({
                                icon: 'fa fa-warning',
                                title: 'DMS',
                                autoClose: 'cancel|10000',
                                theme: 'dark',
                                animationSpeed: 700,
                                content: 'do you want to overwrite.!',
                                type: 'orange',
                                buttons: {
                                    confirm: function () {
                                        var useracceptance = "allow";
                                        $.ajax({
                                            url: '@Url.Action("Save_Single_File", "DocArchival")',
                                            type: "POST",
                                            data: { 'department': department, 'unit': unit, 'docgroup': docgroup, 'docname': docname, 'action': ActionMode, 'fileid': fileid, 'useracceptance': useracceptance },
                                            success: function (data) {
                                                $.alert({
                                                    title: 'DMS',
                                                    content: 'File uploaded successfully.!',
                                                    type: 'green',
                                                });
                                                setTimeout(function () {
                                                    debugger;
                                                    window.location.href = '../DocArchival/DocArchival_Single';
                                                }, 2500);
                                            },
                                        });
                                    },
                                    cancel: function () {
                                        $.alert({
                                            icon: 'fa fa-success',
                                            title: 'DMS',
                                            theme: 'dark',
                                            content: 'Uploading Cancelled.!',
                                            type: 'blue',
                                            animationSpeed: 700,
                                        });
                                    },
                                }
                            });
                        }
                    },
                    error: function (data) {
                        debugger
                        $.alert({
                            title: 'DMS',
                            content: 'some error occured.!',
                            type: 'red',
                        });
                    }
                });
            }
        }

        if (ActionMode == "D" || ActionMode == "E") {
            //$("#form").submit();
            $.ajax({
                url: '@Url.Action("Save_Single_File", "DocArchival")',
                type: "POST",
                data: { 'department': department, 'unit': unit, 'docgroup': docgroup, 'docname': docname, 'action': ActionMode, 'fileid': fileid, 'useracceptance': useracceptance },
                success: function (data) {
                    debugger;
                    if (data == 'edited') {
                        $.alert({
                            title: 'DMS',
                            content: 'File Edited successfully.!',
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            window.location.href = '../DocArchival/DocArchival_Single';
                        }, 2500);
                    }
                    else if (data == 'deleted') {
                        $.alert({
                            title: 'DMS',
                            content: 'File Deleted successfully.!',
                            type: 'green',
                        });
                        setTimeout(function () {
                            debugger;
                            window.location.href = '../DocArchival/DocArchival_Single';
                        }, 2500);
                    }
                },
            });
        }

    }
    //filesize and valid file to check  validation
    $('#File').bind('change', function () {

        debugger;
        var fp = $("#File");
        var lg = fp[0].files.length; // get length
        var items = fp[0].files;
        var fileSize = 0;

        var ext = $('#File').val().split('.').pop().toLowerCase();
        //Allowed file types
        if ($.inArray(ext, ['xlsx', 'xls', 'gif', 'png', 'jpg', 'jpeg', 'docx', 'doc', 'pdf', 'rtf', 'ppt', 'txt', 'odt']) == -1) {
            $.alert({
                title: 'DMS',
                content: 'The file type is invalid.!',
                type: 'blue',
            });
            $('#File').val("");
            $('#upload-file-info').html("");
        }

        if (lg > 0) {
            for (var i = 0; i < lg; i++) {
                fileSize = fileSize + items[i].size; // get file size
            }
            if (fileSize > 314572800) {
                $.alert({
                    title: 'DMS',
                    content: 'File size must not be more than 300 MB.!',
                    type: 'blue',
                });
                $('#File').val('');
                return false;
            }
            else {
                var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none"></iframe>');
                $("body").append(iframe);
                var form = $('#form');
                var up = $('#File').val();
                form.attr("action", "../DocArchival/SingleFile_onchange");
                form.attr("method", "post");
                form.attr("encodeing", "multipart/form-data");
                form.attr("enctype", "multipart/form-data");
                form.attr("target", "postiframe");
                form.attr("file", $('#File').val());
                form.submit();
            }
        }
    });

    function Cancel_Single() {
        debugger;
        event.preventDefault();
        //window.location.reload();
        window.location.href = '../DocArchival/DocArchival_Single';
    }
    function BacktoIndexScreen() {
        debugger;
        $("form").submit(function (e) {
            e.preventDefault();
        });
        window.location.href = '../GetAllDocuments/GetAllDocuments';
    }
</script>

<script>

    $(document).ready(function () {
        debugger;

        var mode = $("#ActionMode").val();
        if (mode == 'I') {
            $("#btn_back").hide();
        }

        var custid = 0;
        var type = "department";
        var actiontype = "GetAll";
        $.ajax({
            url: '@Url.Action("DepartmentEdit", "DocArchival")',
            type: "GET",
            datatype: "json",
            data: { 'custid': custid, "type": type, "actiontype": actiontype },
            success: function (data) {
                debugger;
                var value1 = data.dept;
                var value2 = data.Select;
                for (var i = 0; i < value1.length; i++) {
                    debugger;
                    var opt = new Option(value1[i].Dept_Name, value1[i].Dept_Id);
                    var opt2 = new Option(value1[0].Dept_Name, value1[0].Dept_Id);
                    $('#DeptID').append(opt);
                    if (value2 != null) {
                        var Select = value2[0].Dept_Id;
                        var Docname = value2[0].Doc_Arch_Name;
                        $('#FileName').text(Docname);
                        var opt3 = value1[i].Dept_Id;
                        if (Select == opt3) {
                            $("#DeptID").val($("#DeptID option").eq(i).val());
                        }
                    }

                }

            }
        });

        var custid = 0;
        var type = "unit";
        var actiontype = "GetAll";
        $.ajax({
            url: '@Url.Action("DepartmentEdit", "DocArchival")',
            type: "GET",
            data: { 'custid': custid, "type": type, "actiontype": actiontype },
            success: function (data) {
                debugger;
                var value1 = data.dept;
                var value2 = data.Select;
                for (var i = 0; i < value1.length; i++) {
                    var opt = new Option(value1[i].unit_name, value1[i].unit_id);
                    var opt2 = new Option(value1[0].unit_name, value1[0].unit_id);
                    $('#Unit').append(opt);
                    if (value2 != null) {
                        var Select = value2[0].unit_id;
                        var opt3 = value1[i].unit_id;
                        if (Select == opt3) {
                            $("#Unit").val($("#Unit option").eq(i).val());
                        }
                    }

                }
            }
        });

        var custid = 0;
        var type = "CateGory";
        var actiontype = "GetAll";
        $.ajax({
            url: '@Url.Action("DepartmentEdit", "DocArchival")',
            type: "GET",
            data: { 'custid': custid, "type": type, "actiontype": actiontype },
            success: function (data) {
                debugger;
                var value1 = data.dept;
                var value2 = data.Select;


                for (var i = 0; i < value1.length; i++) {
                    var opt = new Option(value1[i].Dgroup_Name, value1[i].Dgroup_Id);
                    var opt2 = new Option(value1[0].Dgroup_Name, value1[0].Dgroup_Id);
                    $('#Catgery').append(opt);
                    if (value2 != null) {
                        var Select = value2[0].Dgroup_Id;
                        var opt3 = value1[i].Dgroup_Id;
                        if (Select == opt3) {
                            debugger;
                            $("#Catgery").val($("#Catgery option").eq(i).val());
                        }
                    }

                }
            }
        });

        var custid = 0;
        var type = "SubCateGory";
        var actiontype = "GetAll";
        $.ajax({
            url: '@Url.Action("DepartmentEdit", "DocArchival")',
            type: "GET",
            data: { 'custid': custid, "type": type, "actiontype": actiontype },
            success: function (data) {

                var value1 = data.dept;
                var value2 = data.Select;


                for (var i = 0; i < value1.length; i++) {
                    var opt = new Option(value1[i].Dname_Name, value1[i].Dname_Id);
                    var opt2 = new Option(value1[0].Dname_Name, value1[0].Dname_Id);
                    $('#subCatgery').append(opt);
                    if (value2 != null) {
                        var opt3 = value1[i].Dname_Id;
                        var Select = value2[0].Dname_Id;
                        if (Select == opt3) {
                            $("#subCatgery").val($("#subCatgery option").eq(i).val());
                        }
                    }
                }
            }
        });
    });

</script>

<script>
    function fetchDept() {
        debugger;
        var DeptID = $("#DeptID").val();
        if (DeptID == "" || DeptID == null || DeptID == "undefined" || DeptID == 0) {
            return false;
        }
        else {
            $.ajax({

                type: "GET",

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("GetDept", "DocArchival")',

                data: { 'DeptID': DeptID },
                success: function (data) {
                    debugger;
                    var value1 = data.Get_unit;
                    var value2 = data.Get_docgroup;
                    var value3 = data.Get_docname;

                    var length1 = value1.length;
                    var length2 = value2.length;
                    var length3 = value3.length;

                    var CheckUnitId = $("#Unit").val();
                    //if (CheckUnitId == "0") {
                    $('#Unit').empty();
                    for (var i = 0; i < value1.length; i++) {
                        debugger;
                        var opt = new Option(value1[i].unit_name, value1[i].unit_id);
                        var opt2 = new Option(value1[0].unit_name, value1[0].unit_id);

                        $('#Unit').append(opt);
                    }
                    if (length1 == 2) {
                        $("#Unit").val($("#Unit option").eq(1).val());
                    }
                    //}

                    var CheckDocGroupId = $("#Catgery").val();
                    //if (CheckDocGroupId == "0") {
                    $('#Catgery').empty();
                    for (var i = 0; i < value2.length; i++) {
                        debugger;
                        var opt = new Option(value2[i].Dgroup_Name, value2[i].Dgroup_Id);
                        var opt2 = new Option(value2[0].Dgroup_Name, value2[0].Dgroup_Id);

                        $('#Catgery').append(opt);
                    }
                    if (length2 == 2) {
                        $("#Catgery").val($("#Catgery option").eq(1).val());
                    }
                    //}

                    var CheckDocNameId = $("#subCatgery").val();
                    //if (CheckDocNameId == "0") {
                    debugger;
                    $('#subCatgery').empty();
                    for (var i = 0; i < value3.length; i++) {
                        var opt = new Option(value3[i].Dname_Name, value3[i].Dname_Id);
                        var opt2 = new Option(value3[0].Dname_Name, value3[0].Dname_Id);

                        $('#subCatgery').append(opt);
                    }
                    if (length3 == 2) {
                        $("#subCatgery").val($("#subCatgery option").eq(1).val());
                    }
                    //}
                }
            });
        }
    }


    function fetchUnit() {
        debugger;
        var UnitID = $("#Unit").val();
        if (UnitID == "" || UnitID == null || UnitID == "undefined" || UnitID == 0) {
            return false;
        }

        else {
            $.ajax({

                type: "GET",

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("GetUnit", "DocArchival")',

                data: { 'UnitID': UnitID },
                success: function (data) {
                    debugger;
                    var value1 = data.Get_dept1;
                    var value2 = data.Get_docgroup1;
                    var value3 = data.Get_docname1;

                    var length1 = value1.length;
                    var length2 = value2.length;
                    var length3 = value3.length;

                    var CheckDeptID = $("#DeptID").val();
                    //if (CheckDeptID == "0") {
                    $('#DeptID').empty();
                    for (var i = 0; i < value1.length; i++) {
                        var opt = new Option(value1[i].Dept_Name, value1[i].Dept_Id);
                        var opt2 = new Option(value1[0].Dept_Name, value1[0].Dept_Id);

                        $('#DeptID').append(opt);

                    }
                    if (length1 == 2) {
                        $("#DeptID").val($("#DeptID option").eq(1).val());
                    }
                    //}

                    var CheckDocGroupID = $("#Catgery").val();
                    //if (CheckDocGroupID == "0") {
                    $('#Catgery').empty();
                    for (var i = 0; i < value2.length; i++) {
                        var opt = new Option(value2[i].Dgroup_Name, value2[i].Dgroup_Id);
                        var opt2 = new Option(value2[0].Dgroup_Name, value2[0].Dgroup_Id);

                        $('#Catgery').append(opt);

                    }
                    if (length2 == 2) {
                        $("#Catgery").val($("#Catgery option").eq(1).val());
                    }
                    //}

                    var CheckDocNameID = $("#subCatgery").val();
                    //if (CheckDocNameID == "0") {
                    $('#subCatgery').empty();
                    for (var i = 0; i < value3.length; i++) {
                        var opt = new Option(value3[i].Dname_Name, value3[i].Dname_Id);
                        var opt2 = new Option(value3[0].Dname_Name, value3[0].Dname_Id);

                        $('#subCatgery').append(opt);

                    }
                    if (length3 == 2) {
                        $("#subCatgery").val($("#subCatgery option").eq(1).val());
                    }
                    //}


                }
            });
        }
    }



    function fetchDocGroup() {
        debugger;
        var DocGroupID = $("#Catgery").val();
        if (DocGroupID == "" || DocGroupID == null || DocGroupID == "undefined" || DocGroupID == 0) {
            return false;
        }

        else {
            $.ajax({

                type: "GET",

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("GetDocGroup", "DocArchival")',

                data: { 'DocGroupID': DocGroupID },
                success: function (data) {
                    debugger;
                    var value1 = data.Get_dept2;
                    var value2 = data.Get_unit2;
                    var value3 = data.Get_docname2;

                    var length1 = value1.length;
                    var length2 = value2.length;
                    var length3 = value3.length;

                    var CheckDeptId = $("#DeptID").val();
                    //if (CheckDeptId == "0") {
                    $('#DeptID').empty();
                    for (var i = 0; i < value1.length; i++) {
                        var opt = new Option(value1[i].Dept_Name, value1[i].Dept_Id);
                        var opt2 = new Option(value1[0].Dept_Name, value1[0].Dept_Id);

                        $('#DeptID').append(opt);

                    }
                    if (length1 == 2) {
                        $("#DeptID").val($("#DeptID option").eq(1).val());
                    }
                    //}

                    var CheckUnitId = $("#Unit").val();
                    //if (CheckUnitId == "0") {
                    $('#Unit').empty();
                    for (var i = 0; i < value2.length; i++) {
                        var opt = new Option(value2[i].unit_name, value2[i].unit_id);
                        var opt2 = new Option(value2[0].unit_name, value2[0].unit_id);

                        $('#Unit').append(opt);

                    }
                    if (length2 == 2) {
                        $("#Unit").val($("#Unit option").eq(1).val());
                    }
                    //}

                    var CheckDocNameId = $("#subCatgery").val();
                    //if (CheckDocNameId == "0") {
                    $('#subCatgery').empty();
                    for (var i = 0; i < value3.length; i++) {
                        var opt = new Option(value3[i].Dname_Name, value3[i].Dname_Id);
                        var opt2 = new Option(value3[0].Dname_Name, value3[0].Dname_Id);

                        $('#subCatgery').append(opt);

                    }
                    if (length3 == 2) {
                        $("#subCatgery").val($("#subCatgery option").eq(1).val());
                    }
                    //}

                }
            });
        }
    }



    function fetchDocName() {
        debugger;
        var DocNameId = $("#subCatgery").val();
        if (DocNameId == "" || DocNameId == null || DocNameId == "undefined" || DocNameId == 0) {
            return false;
        }

        else {
            $.ajax({
                type: "GET",

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("GetDocName", "DocArchival")',

                data: { 'DocNameId': DocNameId },
                success: function (data) {

                    debugger;
                    var value1 = data.Get_dept3;
                    var value2 = data.Get_unit3;
                    var value3 = data.Get_docgroup3;

                    var length1 = value1.length;
                    var length2 = value2.length;
                    var length3 = value3.length;

                    var CheckDeptId = $("#DeptID").val();
                    //if (CheckDeptId == "0") {
                    $('#DeptID').empty();
                    for (var i = 0; i < value1.length; i++) {
                        var opt = new Option(value1[i].Dept_Name, value1[i].Dept_Id);
                        var opt2 = new Option(value1[0].Dept_Name, value1[0].Dept_Id);

                        $('#DeptID').append(opt);

                    }
                    if (length1 == 2) {
                        $("#DeptID").val($("#DeptID option").eq(1).val());
                    }
                    //}

                    var CheckUnitId = $("#Unit").val();
                    //if (CheckUnitId == "0") {
                    $('#Unit').empty();
                    for (var i = 0; i < value2.length; i++) {
                        var opt = new Option(value2[i].unit_name, value2[i].unit_id);
                        var opt2 = new Option(value2[0].unit_name, value2[0].unit_id);

                        $('#Unit').append(opt);

                    }
                    if (length2 == 2) {
                        $("#Unit").val($("#Unit option").eq(1).val());
                    }
                    //}

                    var CheckDocGroupId = $("#Catgery").val();
                    //if (CheckDocGroupId == "0") {
                    $('#Catgery').empty();
                    for (var i = 0; i < value3.length; i++) {
                        var opt = new Option(value3[i].Dgroup_Name, value3[i].Dgroup_Id);
                        var opt2 = new Option(value3[0].Dgroup_Name, value3[0].Dgroup_Id);

                        $('#Catgery').append(opt);
                    }
                    if (length3 == 2) {
                        $("#Catgery").val($("#Catgery option").eq(1).val());
                    }
                    //}

                }
            });
        }
    }



</script>