﻿@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        #loader {
            position: absolute;
            background: url('http://sampsonresume.com/labs/pIkfp.gif') no-repeat center center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }



        div#spinner {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: fixed;
            display: block;
            opacity: 0.6;
            background: #aaaaaa url('~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png');
            z-index: 1006;
            text-align: center;
            display: none;
            filter: Alpha(Opacity=30); /*{opacityOverlay}*/
        }

            div#spinner img {
                position: absolute;
                /*width:100px;
               height:100px;*/
                top: 40%;
                left: 42%;
                opacity: 4.5;
                z-index: 1007;
            }

            div#spinner span {
                font-family: Arial Tahoma;
                font-size: large;
                font-weight: bold;
                opacity: 4.5;
                margin-top: 100px;
                color: white;
            }

        /*grid content should not be wrap*/
        .k-grid td {
            white-space: nowrap;
        }

        /*grid header should not be wrap*/
        .k-grid-header table {
            width: 100% !important;
        }

        /*Boostrap scroll bar*/
        ::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
    </style>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/css/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/css/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/css/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/css/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/css/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- Morris chart -->
    <!-- jvectormap -->
    <!-- Date Picker -->
    <link href="~/Content/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/Content/css/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="~/Content/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/Content/css/dist/css/dms.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo1/2015.1.318/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/css/jquery-ui-datepicker.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/kendo1/2015.1.318/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo1/2015.1.318/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo1/2015.1.318/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo1/2015.1.318/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-datepicker.js")" type="text/javascript"></script>
    @*<script src="~/Content/css/dist/js/pages/dashboard.js"></script>*@
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    @*@Scripts.Render("~/bundles/app")*@

    @*side doggle bar script*@
    <script src="~/Content/css/dist/js/adminlte.min.js"></script>

    @*Css and Js for Jquery alert box*@
    <script src="~/Scripts/jquery-confirm.min.js"></script>
    <link href="~/Content/css/jquery-confirm.min.css" rel="stylesheet" />
    @*/*dashboard chart*/*@
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
@*Tree View Purpose*@
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap", "~/Content/css", "~/bundles/app")

@*<body class="hold-transition skin-blue sidebar-mini">*@
@{
    ViewBag.FooterDate = DateTime.Now.Year.ToString();
}
<body class="hold-transition skin-blue sidebar-toggle">

    <div id="spinner">
        <img src="~/Content/images/spinner.gif" /> <br /><span>Please Wait...</span>
    </div>
    <div class="wrapper">

        <header class="main-header">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Logo -->
            <div class="sidebar-header">
                <!-- Logo -->
                <a href="#" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->

                    <span class="logo-mini"><img src="~/Content/css/dist/images/webite-updated-logo-1.png" class="img-responsive" style="margin-top:4%"></span>
                    <!-- logo for regular state and mobile devices -->
                    @*<span class="logo-lg"><b><span style="color:#C0C0C0;">flexi</span><span style="color:#00ccff;">docs</span></span>*@
                    @*<span class="logo-mini"><img src="~/Content/css/dist/images/flexidocslogo.png" class="img-responsive"></span>*@
                </a>
            </div>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="user-menu">
                            <a>
                                <img src="~/Content/css/dist/images/user-admin.png" class="user-image" alt="User Image">Welcome @Session["Employee_Name"]
                            </a>
                        </li>
                        <li><a href="@Url.Action("Dashboard", "Dashboard")" class="elements">Dashboard</a></li>
                        <li>
                            <a href="#" data-toggle="modal" class="sign-out-btn" data-target="#Newcust1" onclick="Editcustdetails();">Profile</a>
                        </li>

                        <li>
                            <a href="#" data-toggle="modal" data-target="#changepwd" onclick="showchangepasswordscreen();">Change Password</a>
                        </li>

                        <li>
                            <a href="#" data-toggle="modal" class="sign-out-btn" data-target="#Signout" onclick="return Signout();">Sign out</a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>

        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @Html.Partial("Menu")
            </section>
            <!-- /.sidebar -->
        </aside>
        <div id="Newcust1" class="modal fade" role="dialog" style="">
            @Html.Hidden("RedirectTo", Url.Action("Login", "Login"));
        </div>

        <footer class="main-footer" style="text-align:center;margin-left:0% !important;">
            <strong style="text-align:center">Copyright &copy; @ViewBag.FooterDate Flexicode Technologies Pvt Ltd.</strong>
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->

        </aside>

        <div class="control-sidebar-bg"></div>

        @RenderBody()

    </div>
    @*<div id="loader"></div>*@
    <script>
        // Show the loader icon
        $(document).ajaxStart(function () {
            // $('#loader').show();
            showProgress();
        });

        // Hide the loader icon
        $(document).ajaxStop(function () {
            // $('#loader').hide();
            hideProgress();
        });


        var spinnerVisible = false;

        function showProgress() {
            if (!spinnerVisible) {
                $("div#spinner").fadeIn("fast");
                spinnerVisible = true;
            }
        }
        function hideProgress() {
            if (spinnerVisible) {
                var spinner = $("div#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        }

        function Editcustdetails() {
            debugger;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: "html",
                url: '@Url.Action("EmpProfilePartialView", "_Layout")',
                success: function (data) {
                    debugger;
                    $("#Newcust1").html(data);
                },
                error: function (data) {
                    $.alert({
                        title: 'DMS',
                        content: 'Error' + data,
                        type: 'red',
                    });
                }
            });
        }


        function Signout() {
            debugger;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: "html",
                url: '@Url.Action("Signout", "Login")',
                success: function (data) {
                    var url = '@Url.Action("Login", "Login")'
                    window.location.href = url;
                },
                error: function (data) {
                    $.alert({
                        title: 'DMS',
                        content: 'Error' + data,
                        type: 'red',
                    });
                }
            });
        }

        function showchangepasswordscreen() {
            debugger;
            var url = '@Url.Action("ChangePassword", "Login")'
            window.location.href = url;
        }
    </script>

</body>
</html>
