﻿@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using Kendo.Mvc.Extensions;
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        ul {
            display: block;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-state-selected {
            background-color: #337ab7;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <meta name="viewport" content="width=device-width" />

</head>
<body class="hold-transition skin-blue sidebar-mini fixed" id="viewdoc">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Attributes</h3>
                        </div>

                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <button type="submit" onclick="btnadd()" class="btn btn-danger pull-left"><span class="fa fa-plus-circle"></span> Add New</button>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form method="get" class="form-horizontal" enctype="multipart/form-data" id="form">
                            <input type="hidden" id="hdn_ugrp_gid" />

                            <div id="example" position:relative" class="k-content">
                                <table id="grid" data-bind="source: gridRows"></table>
                            </div>
                            @*<div id="user-modal" style="margin-left:30px;"></div>*@
                            <div id="ForPartialView"></div>
                            <div id="ForPartialViewEdit"></div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
</body>
</html>

<script>

    //var modal;
    var objDialog;
    $(document).ready(function () {
        debugger;
        //modal = $("[id$='user-modal']");
        objDialog = $("[id$='ForPartialView']");
        objDialog.dialog({
            autoOpen: false,
            modal: true,
            width: 700,
            height: 350
        });

        $.ajax({
            url: '@Url.Action("GetDynamicAttributes", "ViewDocumentAttributes")',
            success: function (result) {

                var columns = [];
                var data = JSON.parse(result.Data1);
                var data2 = JSON.parse(result.Data2);
                if (data.length == 0) {
                    $.alert({
                        title: 'DMS',
                        content: 'No records found!',
                        type: 'blue',
                    });
                    return false;
                }
                var i = 0;
                var entryIndex = "entries[" + i + "]";

                for (var key in data[0]) {
                    var val = data2[0][key];

                    columns.push({
                        field: entryIndex,
                        title: key,
                        type: val,
                        //width: 20
                    });
                    i = i + 1;
                    entryIndex = "entries[" + i + "]";
                }

                columns.push({
                    field: entryIndex + 1,
                    title: 'View',
                    template: '<span class="btn btn-orange fa fa-eye View" name="View" id="View" value="View" onclick="view()">',
                    filterable: false,
                    sortable: true,
                    editable: true,
                    width: '8%'
                });
                columns.push({
                    field: entryIndex + 1,
                    title: 'Edit',
                    template: '<span class="btn btn-orange fa fa-edit Edit" name="Edit" id="Edit" value="Edit" onclick="Edit()" ></span>',
                    filterable: false,
                    sortable: true,
                    editable: true,
                    width: '8%'
                });
                var rows = [];
                var data1 = JSON.parse(result.Data1);

                $.each(data1, function (i, e) {
                    var entryArray = [];
                    $.each(e, function (key, val) {
                        entryArray.push(val);
                    });
                    rows.push(kendo.observable({
                        entries: entryArray
                    }));
                });

                var viewModel = kendo.observable({
                    gridRows: rows
                });
                var configuration = {
                    editable: false,
                    sortable: true,
                    scrollable: false,
                    filterable: true,
                    pagable: true,
                    resizable: true,
                    pageable: {
                        pageSize: 10,
                        buttonCount: 4
                    },
                    columns: columns,
                    rows: viewModel,
                    height: '100%'
                };

                var timeEditGrid = $("#grid").kendoGrid(configuration).data("kendoGrid");
                kendo.bind($("#grid"), viewModel);
            },
            error: function () {
                $.alert({
                    title: 'DMS',
                    content: 'Some error has occurred..!',
                    type: 'red',
                });
            }

        });
    });

    function view() {
        debugger;
        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataItem($(event.target).closest("tr"));
        var id = (data.entries[0]);
        var group_gid = (data.entries[0]);
        $("#hdn_title").val("Create New UserGroups");
        $("#hdn_ugrp_gid").val(group_gid);
        //modal.load('../ViewDocumentAttributes/partialview?group_gid');
        //modal.show();
        objDialog.load('../ViewDocumentAttributes/partialview');
        objDialog.dialog({ title: 'View' });
        objDialog.dialog("open");
        return false;
    }

    function Close() {
        debugger;
        objDialog.dialog("close");
    }

    var objDialogedit;
    objDialogedit = $("[id$='ForPartialViewEdit']");
    objDialogedit.dialog({
        autoOpen: false,
        modal: true,
        width: 950,
        height: 630
    })
    function Edit() {
        debugger;
        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataItem($(event.target).closest("tr"));
        var id = (data.entries[0]);
        var group_gid = (data.entries[0]);
        $("#hdn_title").val("Edit UserGroups");
        $("#hdn_ugrp_gid").val(group_gid);
        //modal.load('../ViewDocumentAttributes/partialview?group_gid');
        //modal.show();
        objDialogedit.load('../ViewDocumentAttributes/EditAttributepartialview?Attrbid=' + group_gid);
        objDialogedit.dialog({ title: 'Edit' });
        objDialogedit.dialog("open");
        return false;
    }

    function CloseEdit() {
        debugger;
        objDialogedit.dialog("close");
    }

</script>
<script>
    function btnadd() {
        //debugger;
        //window.location.href = '../ConfigureAttributes/ConfigureAttributes';
        //return;

        debugger;
        var url = '@Url.Action("ConfigureAttributes", "ConfigureAttributes")'
        window.location.href = url;
    }

    function test(SeltVal) {
        debugger;
        var lovname;
        //var counter = 0;
        for (i = 1; i < counter + 1; i++) {
            var type = $("#drpvalue" + i).val();
            if (type == "Alpha Numeric") {
                $("#Length" + i).val("500");
                //$("#Length" + i).prop("readonly").disabled = false;
                $("#Length" + i).prop("readonly", false);
                $("#tdlov" + SeltVal).css('display', 'none');
                $("#Length" + SeltVal).css('display', 'inline');
            }
            if (type == "Numeric") {
                $("#Length" + i).val("0");
                $("#Length" + i).prop("readonly", true);
                $("#tdlov" + SeltVal).css('display', 'none');
                $("#Length" + SeltVal).css('display', 'inline');
            }
            if (type == "Datetime") {
                //$("#Length" + i).prop("readonly").value = "0";
                $("#Length" + i).val("0");
                $("#Length" + i).prop("readonly", true);
                $("#tdlov" + SeltVal).css('display', 'none');
                $("#Length" + SeltVal).css('display', 'inline');
            }
            if (type == "Amount") {
                $("#Length" + i).val("0");
                $("#Length" + i).prop("readonly", true);
                $("#tdlov" + SeltVal).css('display', 'none');
                $("#Length" + SeltVal).css('display', 'inline');
            }

            if (type == "Logical") {
                $("#Length" + i).val("0");
                $("#Length" + i).prop("readonly", true);
                $("#tdlov" + SeltVal).css('display', 'none');
                $("#Length" + SeltVal).css('display', 'inline');
            }



        }
        var seltvaltxt = $("#drpvalue" + SeltVal + ' :selected').text();
        if (seltvaltxt == "Lov Name") {
            $("#tdlov" + SeltVal).css('display', 'inline');
            $("#Length" + SeltVal).css('display', 'none');

            //Dropdown master biding
            var custid = 0;
            var type = "Lov_Master";
            var actiontype = "GetAll";
            debugger;
            $.ajax({

                url: '@Url.Action("DepartmentEdit", "ConfigureAttributes")',
                type: "GET",
                async: false,
                data: { 'custid': custid, "type": type, "actiontype": actiontype },
                success: function (data) {
                    debugger;
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Lov_Name, data[i].Lov_Id);
                        var opt2 = new Option(data[0].Dname_Name, data[0].Dname_Id);
                        $('#tdlov' + SeltVal).append(opt);

                        $('#tdlov' + SeltVal).find('option').each(function (i, opt) {
                            $(opt2).attr('selected', 'selected');
                        });

                    }
                    //$('#tdlov' + SeltVal).val(j);//selectedval);
                }
            });
        }

    }

    function test1() {
        debugger;
        // var counter = 0;
        for (i = 0; i < counter; i++) {
            var txtlenval = $("#Length" + i).val()
            if (txtlenval > 500) {
                $.alert({
                    title: 'DMS',
                    content: 'The given string length should not be greater than 500.!',
                    type: 'blue',
                });
            }
        }
    }

</script>