﻿@model DMS.Model.ViewDocuments_Model

<style>
    .ui-dialog-titlebar-close {
        display: none;
    }

</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <table>
            <tr>
                <td><label style="font-weight:normal">Bulk Mail</label></td>
                <td width="85%"></td>
                <td><button type="button" id="btnclose" style="color:black;font-weight:bold;" onclick="return Close_Foroutlooklink();">X</button></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box-body">
            <div class="row">
                <table>

                    <tr>
                        <td style="width:25px"></td>
                        <td><label style="font-weight:normal;font-size:13px;font-family:sans-serif">To</label></td>
                        <td style="width:25px"></td>
                        <td>
                            @Html.TextBoxFor(m => m.MailTo, new { @class = "form-control", style = "height:25px;width:400px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Email Id" })
                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                    <tr>
                        <td style="width:25px"></td>
                        <td><label style="font-weight:normal;font-size:13px;font-family:sans-serif">Cc</label></td>
                        <td style="width:25px"></td>
                        <td>
                            @Html.TextBoxFor(m => m.MailCc, new { @class = "form-control", style = "height:25px;width:400px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Email Id" })
                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                    <tr>
                        <td style="width:25px"></td>
                        <td><label style="font-weight:normal;font-size:13px;font-family:sans-serif">Subject</label></td>
                        <td style="width:25px"></td>
                        <td>
                            @Html.TextBoxFor(m => m.MailSubject, new { @class = "form-control", style = "height:25px;width:400px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Subject" })
                            <span class="errormessage" id="erridmsg"></span>
                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                    <tr>
                        <td style="width:25px"></td>
                        <td><label style="font-weight:normal;font-size:13px;font-family:sans-serif">Attached File</label></td>
                        <td style="width:25px"></td>
                        <td>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.MailAttachement, new { @class = "form-control", style = "height:30px;width:330px;font-weight: normal;font-size:13px;font-family:sans-serif", @readonly = "true" })
                                &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-orange fa" id="btn_dwldfile" onclick="return downloadfile()">View</button>
                            </div>

                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                </table>
                <table>
                    <tr>
                        <td style="width:25px"></td>
                        <td>
                            @Html.TextArea("MailContent", null, new { @class = "form-control", style = "height:275px;width:515px;font-weight: normal;font-size:13px;font-family:sans-serif", @placeholder = "Body of the Content" })
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="row text-center mt20">
                <input type="button" value="Close" id="btn_cancel" onclick="return Close_Foroutlooklink();" class="btn btn-orange fa fa-download" />
                <input type="button" name="btnsubmit" value="Send" id="btn_sendmail" class="btn btn-orange fa fa-download" onclick="return SendMail();" />
            </div>

            <div class="row text-center mt20">
                <span class="errormessage"></span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger;
        var Indexed_gid = '@ViewBag.attachedid';//$("#hdn_attachid").val();
        var type = '@ViewBag.mode';//$("#hdn_linkorinterfile").val();
        // alert(Indexed_gid + '-' + type);
        $.ajax({
            url: '@Url.Action("Getgetfromidandattachfile", "TreeSearch")',
            type: "POST",
            datatype: "json",
            async: false,
            data: { 'Indexed_gid': Indexed_gid, 'type': type },
            success: function (data) {
                debugger;
                $("#MailFrom").val(data.Frommailaddress);
                $("#MailAttachement").val(data.Attachementfile);
                $("#hdn_filelocation").val(data.attachementlocation);
            },
            error: function () {
                alert("failed to create.")
                return false;
            }
        });
    });

    function Close_Foroutlooklink() {
        debugger;
        objDialog11.dialog("close");
    }

    function downloadfile() {
        debugger;

        @*$.ajax({
            url: '@Url.Action("Download", "ViewDocuments")',
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
        }).done(function (data) {
            //get the file name for download
            if (data.attacheid != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "ViewDocuments", Action = "DownloadFile" })/?attacheid=" + data.attacheid;
            }
        });*@

        var downloadpath = $("#hdn_filelocation").val();
        $.ajax({
            url: '@Url.Action("Downloadmailfile", "TreeSearch")',
            type: "POST",
            datatype: "json",
            async: false,
            data: { 'downloadpath': downloadpath },
        }).done(function (data) {
            debugger;
            //get the file name for download
            if (data.downloadpath != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "TreeSearch", Action = "DownloadMailFile1" })/?downloadpath=" + data.downloadpath;
            }
        });
    }
    function SendMail() {
        debugger;
        // var mailfrom = $("#MailFrom").val();
        var mailto = $("#MailTo").val();
        var mailcc = $("#MailCc").val();
        if (mailto == "") {
            $.alert({
                title: 'DMS',
                content: 'Enter email address..!!',
                icon: 'fa fa-success',
                type: 'green',
            });
            return false;
        }
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        if (!emailReg.test(mailto)) {
            $.alert({
                title: 'DMS',
                content: 'Enter valid email address..!!',
                icon: 'fa fa-success',
                type: 'red',
            });
            return false;
        }
        var subject = $("#MailSubject").val();
        var content = $("#MailContent").val();
        var filelocation = $("#hdn_filelocation").val();
        var mailtype = $("#hdn_mailtype").val();
        $.ajax({
            url: '@Url.Action("SendMail", "TreeSearch")',
            type: "POST",
            datatype: "json",
            async: false,
            data: { 'mailto': mailto, 'subject': subject, 'content': content, 'filelocation': filelocation, 'mailcc': mailcc, 'mailtype': mailtype },
            success: function (data) {
                debugger;
                if (data == "success") {
                    $.alert({
                        title: 'DMS',
                        content: 'Mail sent successfully!',
                        icon: 'fa fa-success',
                        type: 'blue',
                    });
                    setTimeout(function () {
                        //window.location.reload(1);
                        objDialog11.dialog("close");
                    }, 2500);
                }
                else {
                    $.alert({
                        title: 'DMS',
                        content: 'Mail could not be sent!!',
                        icon: 'fa fa-success',
                        type: 'orange',
                    });
                }
            },
        });
    }
</script>